<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>报警报表管理</title>

    <!--    <link rel="stylesheet" href="/css/css/common/outLookTree.css">-->
    <script src="js/common/systemCommonCss.js"></script>
    <script src="js/common/systemCommonQuote.js"></script>

    <link href="runTimeTable.css" rel="stylesheet">
    <script src="myAlarmReportBiz.js"></script>
    <script src="myAlarmReport.js"></script>
</head>

<body>
    <div class="panel panel-primary wholeHeight">
        <div class="panel-heading">
            报警报表
        </div>
        <div class="panel-body hdPanelBody" id="infoPanelBody">
            <div class="contentWrapper wholeHeight">
                <div id="toolbar"></div>
                <table id="liveDataTable" class="table" data-toolbar="#infoToolbar"></table>
            </div>
        </div>
    </div>
</body>