<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>报警策略管理</title>

    <!--    <link rel="stylesheet" href="/css/css/common/outLookTree.css">-->
    <script src="js/common/systemCommonCss.js"></script>
    <script src="js/common/systemCommonQuote.js"></script>

    <link href="runTimeTable.css" rel="stylesheet">
    <script src="myAlarmStrategyBiz.js"></script>
    <script src="myAlarmStrategy.js"></script>
</head>

<body>
    <div class="panel panel-primary wholeHeight">
        <div class="panel-heading">
            报警策略
        </div>
        <div class="panel-body hdPanelBody" id="infoPanelBody">
            <div class="contentWrapper wholeHeight">
                <form id="formSearch_alarm" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="fault_name">策略名称</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="fault_name" placeholder="请输入策略名称(精准查询)" />
                        </div>
                        <label class="control-label col-sm-1">是否启动</label>
                        <div id="hide-selet" class="col-sm-1">
                            <select id="alarmStrategy_state" title="请选择" class=" show-tick form-control">
                            </select>
                        </div>
                        <div class="col-sm-1" style="text-align:left;">
                            <button type="button" id="btn_alarm_query" class="btn btn-primary"
                                onclick="queryAlarmStrategy()">查询</button>
                        </div>
                    </div>
                </form>
                <!-- <div id="toolbar"></div> -->
                <div id="toolbar_alarm" class="btn-group">
                    <button id="btn_add" type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus " aria-hidden="true"></span>创建报警策略
                    </button>
                </div>
                <table id="liveDataTable" class="table" data-toolbar="#infoToolbar"></table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_department" tabindex="-1" role="dialog"></div>
    <div class="modal fade" id="modal_department" tabindex="-1" role="dialog"></div>
    <!--第二层模态框-->
    <div class="modal fade" id="modal_upper" tabindex="-1" role="dialog"></div>
</body>